services:
  backend:
    build:
      context: .
      dockerfile: server/Dockerfile
    ports:
      - "5000:5000"
    environment:
      - PORT=5000

  frontend:
    build: ./client
    ports:
      - "3000:3000"
    depends_on:
      - backend
